/*@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');*/

* {
    margin: 0 auto;
}

body {
    display: flex;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-wide {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.content {
    width: 1160px;
}

.green {
    color: #18cfab;
}

/* HEADER */

.header {
    align-items: center;
    background-color: rgba(73, 71, 63, 0.6);
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100vw;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.header-logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.header-logo__name {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 31px;
}

.header-logo__name-span {
    font-size: 32px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    transform: scaleY(1.0015);
}

.header-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.header-menu__item a {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    text-transform: uppercase;
}

.header-menu__item a:hover {
    color: #18cfab;
}

.we-are-creative {
    background: url('../image/background/section-1(header).jpg') center center;
    height: 100vh;

}

.we-are-creative-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu__item a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.header-menu__item a:before {
    background: #18cfab;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    top: 71px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    width: 0;
}

.header-menu__item a:after {
    background-color: #18cfab;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    top: 71px;
    transition: width 0.3s ease-in-out;
    width: 0;
}

.header-menu__item a:hover:before {
    left: 0;
    width: 50%;
}

.header-menu__item a:hover:after {
    width: 50%;
}

/* HEADER */

.we-are-creative-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.we-are-creative-content__title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    margin-top: 240px;
    text-transform: uppercase;
}

.we-are-creative-content__slogan {
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.we-are-creative-content__paragraph {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    margin-top: 40px;
    text-align: center;
}

.square-block {
    display: flex;
    flex-direction: row;
    height: 375px;
    width: 100%;
}

.container-wide__square_green {
    align-items: center;
    background-color: #18cfab;
    border-top: 7px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 100px;
    text-transform: uppercase;
    width: 25%;
}

.container-wide__square_black {
    align-items: center;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 100px;
    text-transform: uppercase;
    width: 25%;
}

.container-wide__paragraph {
    font-size: 20px;
    font-weight: 700;
}

/* ТАБЫ */
.tabs {
    display: flex;
    height: 80px;
}

.tabs__item {
    align-items: center;
    background-color: #f8fcfe;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    color: rgba(113, 113, 113, 255);
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 5px 5px;
    width: 20%;
}

.tabs__item:last-child {
    border-right: 1px solid #ebebeb;
}

.tabs__item.active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
}

.active + .tabs__item {
    border-left: 0;
}

.active:last-child {
    border-right: 0;
}

.tabs__item.active::after {
    border: 20px solid transparent;
    border-top-color: #18cfab;
    content: '';
    margin-top: 55px;
    position: absolute;
}

.tabs-content {
    display: none;
    margin-bottom: 100px;
    padding-top: 24px;
}

.tabs-content.active {
    display: flex;
}

.tabs-content__img {
    height: 140px;
    padding-top: 5px;
    width: 195px;
}

.tabs-content__paragraph {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    padding-left: 24px;
}

.content__title {
    align-items: center;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.green-line:before,
.green-line:after {
    background: #18cfab;
    content: '';
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 76px;
}

.green-line:before {
    left: 10px;
    top: 77px;
}

.green-line:after {
    right: 10px;
    top: 35px;
}

.just-buy {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url('../image/background/section-2.jpg') center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 126px;
    padding-top: 126px;
}

.just-buy__slogan {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.just-buy__paragraph {

    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

/*PORTFOLIO*/

.portfolio {
    align-items: center;
    background-color: #f8fcfe;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    width: 100%;
}

#load-more {

}

.hidden {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    visibility: hidden;
    width: 0 !important;
}

/* ---- button ---- */

.button-group__button {
    background: #EEE;
    border: none;
    color: rgba(113, 113, 113, 255);
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
    padding: 20px 30px;
}

.button-group {
    margin-bottom: 50px;
}

.button-group__button.is-checked {
    color: white;

}

.button-group__button:active {
}

/* ---- button-group ---- */

.button-group:after {
    clear: both;
    content: '';
    display: block;

}

.button-group .button-group__button {
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    float: left;
}

.button-group .button-group__button:last-child {
    border-right: 1px solid #d8d8d8;
}

.button-group__button.is-checked {
    color: #18cfab;
    position: relative;
}

.button-group__button.is-checked::before {
    background-color: #18cfab;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 100%;
}

.button-group__button:hover {
    background-color: #18cfab;
    color: white;
}

/* ---- isotope ---- */
.isotope {
    overflow: hidden;
}

/* clear fix */
.isotope:after {
    clear: both;
    content: '';
    display: block;
}

/* ---- .element-item ---- */
.element-item {
    float: left;
    height: 206px;
    overflow: hidden;
    position: relative;
    width: 284px;
}

/* ---- portfolio hover ---- */

.portfolio-item-info {
    border-top: 2px solid #18cfab;
    height: 204px;
}

.portfolio-info-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    padding-top: 40px;
    transition: top 1s ease-out 1s;
}

.fa-link {
    border: 2px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    font-size: 20px;
    margin: 3px;
    padding: 8px;

}

.fa-search {
    background-color: #18cfab;
    border-radius: 50%;
    color: white;;
    font-size: 20px;
    margin: 3px;
    padding: 10px;
}

.portfolio-info-title {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.portfolio-info-description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 13px;
    text-align: center;
}

/*NEWS*/
.news {
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    justify-content: space-between;
}

.card {
    background-color: #f8fcfe;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 270px;
    position: relative;
    width: 263px;
}

.card:hover .card__date {
    background-color: #18cfab;
}

.card:hover .card-body__text {
    color: #18cfab;
}

.card__img {
    width: 263px;
}

.card-body {
    background-color: #f8fcfe;
    border: 1px solid #ededed;;
    display: block;
    padding: 10px;
    width: 241px;

}

.card-body__text {
    color: #717171;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 13px;
}

.card-body__info {
    color: #777777;
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.card__date {
    align-items: center;
    background-color: #1c2a33;
    color: white;
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 68px;

}

.card__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.what_people_say {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url('../image/background/section-3.jpg') center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 126px;
    padding-top: 126px;
}

/* SLIDER */

.slider-li {
    float: left;
    width: 1160px;
}

.slider-li__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider {
    height: 400px;
    max-width: 1160px;
    overflow: hidden;
}

#slider ul li {
    position: relative;
}

#slider ul {
    height: 50px;
    position: relative;
    width: 5000px;
}

#buttons {
    display: flex;
    height: 100px;
    margin: 0 auto;
    width: 500px;

}

#buttons button {
    background-color: Transparent;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    margin-top: 35px;
    outline: none;
    padding: 5px 10px;
}

#next, #prev {
    height: 35px
}

#indicators {
    height: 60px;
    text-align: center;
    width: 500px;
}

#indicators li {
    display: inline-block;
    padding: 8px 15px;
}

#indicators li img {
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.3);
    height: 69px;
    width: 69px;
}

.active img {
    margin-bottom: 10px;
}

.slider_quote {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.slider_h3 {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;

}

.slider_p {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 37px;

}

.quotes_green {
    color: #18cfab;
    font-size: 60px;
}

/*SLIDER END - > FOOTER*/

.footer {
    align-items: center;
    background-color: #1c2a33;
    color: #aeaeae;
    display: flex;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    height: 100px;
    justify-content: center;

}

